body {
  background-color: #595656;
}

div.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header {
  background-color: #a06603;
  grid-area: header;
}

main {
  background-color: #dd0404;
  grid-area: main;
}

aside {
  background-color: #056821;
  grid-area: aside;
}

footer {
  background-color :#ff9000;
  grid-area: footer;
}

@media (max-width: 600px) {
  div.container{
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
  }
}
